.container{
  width:1200px;
  margin:0 auto;
}

.form-group{
  display: flex;
}

.form-group .form-control{
  width:33%;
  margin-right:10px;
  margin-bottom:20px;
}

.form-group .form-control label{
  font-size:12px;
}

.form-group .form-control input{
  padding:12px;
  border:1px solid #ccc;
  margin-top:6px;
  border-radius:2px;
  color:#333;
  transition: all 0.2s ease;
}

.form-group .form-control input:focus{
  border:1px solid navy;
  outline: none;
}

button{
  padding:12px;
  width:auto;
  margin:0 auto;
  text-align: center;
}

table{
  font-size:15px;
  width:100%;
  margin-top:25px;
  border-right:1px solid #ccc;
}

table th, table td{
  padding:10px;
  border-left:1px solid #ccc;  
  border-top:1px solid #ccc;  
  border-bottom:1px solid #ccc;  
  margin-left:-1px;  
}

table th{
  background:#eee;
}